body {
  width: 400px;
  height: 300px;
  background: #998235;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 260px;
  height: 130px;
  background: #0B2429;
  border-radius: 200px;
  position: relative;
}

.in {
  background: #998235;
  width: 115px;
  height: 100px;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 0 100px 100px 0;
}