body {
  width: 400px;
  height: 300px;
  background: #926927;
}

div {
  width: 100px;
  height: 100px;
  background: #F8B140;
  position: fixed;
  top: 50px;
  left: 150px;
  border-radius: 0 0 30px 30px;
}

.bottom {
  transform: scaleY(-1);
  top: 150px;
}

.bar {
  width: 150px;
  height: 20px;
  border-radius: 10px;
  left: 125px;
  box-shadow: #F8B140 0 180px;
}