body {
  width: 400px;
  height: 300px;
  background: #6592CF;
}

div {
  width: 40px;
  height: 200px;
  background: #060F55;
  position: fixed;
  top: 110px;
  left: 180px;
}

.arrow {
  height: 79px;
  width: 79px;
  background: #6592CF;
  border: solid #060F55;
  border-width: 41px 41px 0 0;
  border-radius: 0 20px 0 0;
  transform: rotate(-45deg);
  top: 96px;
  left: 140px;
}