body {
  width: 400px;
  height: 300px;
  background: #E6D9AC;
}

div {
  width: 30px;
  height: 150px;
  background: #BD6C27;
  box-shadow: #8F2D2B 121px 30px;
  position: fixed;
  top: 60px;
  left: 125px;
}

.hor {
  height: 110px;
  transform: rotate(90deg);
  box-shadow: #8F2D2B 30px -19px;
  top: 20px;
  left: 176px;
}

.two {
  top: 80px;
}

.tri {
  top: 140px;
}