body {
  width: 400px;
  height: 300px;
  background: #DA30D4;
  margin: 0;
  position: relative;
}

.round {
  width: 100px;
  height: 100px;
  background: #0C0C49;
  border-radius: 50%;
  position: absolute;
  left: 90px;
  top: 40px;
  box-shadow: #0C0C49 120px 0;
}

.sec {
  top: 160px;
}

.square {
  width: 120px;
  height: 120px;
  background: #DA30D4;
  position: absolute;
  left: 140px;
  top: 90px;
}