body {
  width: 400px;
  height: 300px;
  background: #66284A;
}

div {
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  border-radius: 30px;
  border: #66284A solid 10px;
  background: #F0CD48;
  position: fixed;
  top: 90px;
  left: 140px;
}

.under {
  left: 100px;
  top: 50px;
}

.ball {
  width: 30px;
  height: 30px;
  background: #66284A;
  top: 120px;
  left: 170px;
  box-shadow: #66284A 70px 0;
}

.bottom {
  top: 190px;
}

.middle {
  top: 155px;
  left: 205px;
  box-shadow: unset;
}