body {
  width: 400px;
  height: 300px;
  background: #763EDF;
}

div {
  width: 80px;
  height: 80px;
  background: #6BD0FA;
  position: fixed;
  top: 50px;
  left: 220px;
  box-shadow: #6BD0FA -100px 20px;
}

.sec {
  top: 150px;
  left: 200px;
}