body {
  width: 400px;
  height: 300px;
  background: #FEFAE3;
}

div {
  width: 60px;
  height: 60px;
  background: #B17036;
  position: fixed;
  top: 65px;
  left: 280px;
  box-shadow: #B17036 -220px 110px;
}

.middle {
  background: #D4A469;
  left: 170px;
  top: 120px;
  box-shadow: none;
}

.bar {
  width: 170px;
  background: #D4A469;
  left: 60px;
  box-shadow: #D4A469 110px 110px;
}