body {
  width: 400px;
  height: 300px;
  background: #D86F45;
  margin: 0;
}

div {
  background: #FDFBF8;
  position: fixed;
}

.thin {
  width: 30px;
  height: 150px;
  border-radius: 30px;
  top: -25px;
  left: 100px;
  box-shadow: #FDFBF8 170px 0;
}

.dark {
  background: #D86F45;
  left: 130px;
  top: 35px;
  box-shadow: #D86F45 110px 0;
}

.thick {
  width: 80px;
  height: 140px;
  border-radius: 80px;
  top: -40px;
  left: 160px;
  box-shadow: #FDFBF8 0 170px;
}

.half {
  width: 200px;
  height: 100px;
  border-radius: 0 0 200px 200px;
  top: 170px;
  left: 100px;
}

.ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 155px;
  left: 100px;
  box-shadow: #FDFBF8 170px 0;
}