body {
  width: 400px;
  height: 300px;
  background: #E3516E;
}

div {
  width: 100px;
  height: 200px;
  background: #FADE8B;
  position: fixed;
  top: 150px;
  left: 75px;
  box-shadow: #FADE8B 0 -250px;
}

.right {
  transform: translate(150px, 50px);
}