body {
  width: 400px;
  height: 300px;
  background: #8647E6;
}

div {
  position: fixed;
}

.ball {
  width: 200px;
  height: 200px;
  background: #EFEB99;
  border-radius: 50%;
  top: 50px;
  left: 100px;
}

.bar {
  width: 20px;
  height: 150px;
  background: #8647E6;
  left: 230px;
  top: 50px;
  box-shadow: #8647E6 -80px 50px;
}

.sec {
  transform: rotate(90deg);
  left: 150px;
  top: 115px;
  box-shadow: #8647E6 -80px -80px;
}