body {
  width: 400px;
  height: 300px;
  background: #F1D272;
}

div {
  width: 20px;
  height: 250px;
  background: #EE7667;
  position: fixed;
  transform: rotate(25deg);
  top: -50px;
  left: 157px;
}

.ball {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 122px;
  left: 57px;
}